.App {
  background-color: "yellow";
  text-align: center;
  /* padding-top: 10vh;  */
  /* padding-bottom: 60vh; */ 

  font-size: x-large;
  margin-left: 20vw;
  margin-right: 20vw;
  /* background-image: url('./media/social-media-background-twitte.jpg'); */
}

.custom-main {
  padding-top: 10vh;
  height: 90vh;
}